*{
    margin: 0;
    padding: 0;
}
body{
    padding-left: 4vw;
    background-color: rgb(184, 239, 239);
}
.test{
    background-color: azure;
}
.card{
    background-color: rgb(184, 239, 239);
    border: 0;
    border-radius: 5px;
}
.card:hover{
    background-color: rgb(157, 193, 248);
    cursor: pointer;
    transform: rotate(-10deg);
}
.top{
    display: flex;
    flex-direction: row;
}
.chairId{
    margin: 1vh 0 0 2vw;
}
.bottom{
    display: flex;
    flex-direction: row;
}